

<form>

    <h2>Welcome to {{model.name}} </h2>


    Number of Shares:{{input type="text" size="10" valueBinding="numOfShares"}}<br>
    Price:{{view Ember.TextField size='10' valueBinding="price"}}<br>


    <button type='button' {{action 'createBuy'}}>Register</button>
    <div id="order">
    <button type="button" {{action 'trans'}}>Back</button>
    </div>
</form>