

<div>
    <h2>Welcome!</h2>
</div>
<br>
<div class="centering">
<img src="logo.png" alt="Course Logo" class="centering" >
</div>
<br><p/>

<table class="centering" width="600">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Open Price</th>
        <th>Last Sale</th>
        <th>Change Net</th>
        <th>Share Volume</th>
        <th>Buy</th>
        <th>Sell</th>
    </tr>
    </thead>
    <tbody>
        {{#each item in model}}
        <tr>
            <td id="determine">{{item.id}}</td>
            <td>{{#link-to 'market' item.id}}{{item.name}}{{/link-to}}</td>
            <td style="text-align:center">{{item.openPrice}}</td>
            <td style="text-align:center">{{item.lastSale}}</td>
            <td style="text-align:center"> {{item.rateDIFF}}<img {{bind-attr src=item.rate }}> {{item.ratePERCENT}} </td>
            <td>{{item.shareVol}}</td>
            <td>{{#link-to 'placebidorder' item.id }}Buy{{/link-to}}</td>
            <td>{{#link-to 'placesaleprice' item.id }}Sell{{/link-to}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br>

<div>
 {{outlet}}  </div>
<br>










<!--<button >Transition To Order</button><p/>
<button 'trance'}}>Transition To Price</button><p/> -->
